VendingMachine.Admin/obj/Debug/
VendingMachine.Core/obj/Debug/
obj/Debug/
bin/Debug/
System.Data.SQLite.xml
VendingMachine.Admin/bin/Debug/FileHelpers.xml
VendingMachine.Core/bin/Debug/
VendingMachine.Machine/bin/Debug/
VendingMachine.Machine/obj/Debug/
VendingMachine.User/bin/Debug/
VendingMachine.User/obj/Debug/
packages/
