<?xml version="1.0" encoding="utf-8"?>

  <packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">

    <package id="EntityFramework" version="6.0.0" targetFramework="net452" />
  <package id="FileHelpers" version="3.1.5" targetFramework="net452" />
  <package id="System.Data.SQLite" version="1.0.102.0" targetFramework="net452" />
  <package id="System.Data.SQLite.Core" version="1.0.102.0" targetFramework="net452" />
  <package id="System.Data.SQLite.EF6" version="1.0.102.0" targetFramework="net452" />
  <package id="System.Data.Linq" version="1.0.102.0" targetFramework="net452" />
</packages>